@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

.App {
  background-color: red;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.CardVideo {
  background-color: #FCFCFC;
  font-weight: 300;
  color: lightslategray;
}
.CardVideo h1,
.CardVideo p {
  user-select: none;
  cursor: default;
}