.Home {
  height: 100vh; /* 100vh forces to cover the screen. 100% only cover the screen if there is a lot of content. */
  padding-top: 32px;
}

.Home .title {
  margin-left: 8px;
  margin-bottom: 16px;
  font-size: 24px;
}

/* YouTube breakpoints */
@media only screen and (min-width: 500px) {
  .Home .CardList {
    display: grid; /* the native way of creating columns withouth hacks or frameworks */
    max-width: calc(2 * 320px + 16px); /* the max width is 2 columns + the gap */
    grid-template-columns: 1fr 1fr; /* each fr is a equal space column. */
    grid-column-gap: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .Home {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .Home .CardList {
    max-width: calc(3 * 320px + 16px);
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media only screen and (min-width: 1000px) {
  .Home .CardList {
    max-width: calc(4 * 320px + 16px);
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
}

@media only screen and (min-width: 1366px) {
  .Home .CardList {
    max-width: calc(5 * 320px + 16px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  }
}