.Card {
  box-sizing: border-box;
  margin: 0 auto 32px auto;
}

.Card img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.Card .title,
.Card .description {
  margin: 0 16px;
  font-size: 15px;
  user-select: none;
  cursor: default;
}

.Card .title {
  margin-bottom: 8px;
}

.Card .description {
  color: grey;
}